<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal-nlog.txt"
      internalLogLevel="Info">

	<targets>
		<target name="fileTarget" xsi:type="File" fileName="Logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString}" />
		<target name="consoleTarget" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="consoleTarget" />
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="fileTarget" />
	</rules>
</nlog>